<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>login</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

<body>
    <div class="page-header">
        <div class="container">
            <div class="col-md-6">
                <h1><a href="/">login</a></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{{ body }}}
            </div>
        </div>
    </div>

    <script src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/login.js"></script>
</body>

</html>